:root {
  --box-size: 3rem;
  --box-count: 8;
}

#grid,
.box,
.modal {
  display: grid;
  place-items: center;
}

#grid {
  grid:
    repeat(var(--box-count), var(--box-size)) /
    repeat(var(--box-count), var(--box-size));
  gap: 0.4rem;
}

.box {
  border: 0.12rem solid black;
  border-radius: 0.375rem;
  width: 100%;
  height: 100%;
}

.active {
  background-color: black;
}

.food {
  border-color: brown;
  background-color: brown;
}

.modal {
  position: absolute;
  background-color: white;
  padding: 2.5rem;
  border-radius: 0.375rem;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.08))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.13));
}
.modal > button {
  margin-top: 1rem;
}
